*{
  box-sizing: border-box;
  margin: 0;
}


.lus{

   margin-right: 350px;
    font-size: 30px;
    color: black;
}
@media screen and (min-width: 1000px) {
  .lus {
    margin-right: 470px;
    font-size: 30px;
    color: black;
  }
}
.logo1 {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) );
    opacity: 80%;
    

   
}

.scnd{
    margin-top: 30px;
   
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: antiquewhite;
}
.naav{
  background-color: burlywood;
}

.tit{
    font-size: 30px;
}

.thrd{
    justify-content: center;
    column-gap: 15px;
    margin-top: 10px;
    align-items: center;
    row-gap: 10px;

}

.best{
    margin-top: 30px;
    text-align: center;
}
.pro{
    rotate: 90deg;
  
  text-align: center;
background: grey;
justify-content: center;
align-items: center;
margin-top: 60px;


}

@media screen and (max-width: 1000px) {
    .pro {
      display: none;
    }
  }

  @media screen and (max-width: 1000px) {
    .best {
      text-align: center;
    }
  }
  
  
  @media screen and (max-width: 1000px) {
    .frth2 {
      margin-left: 45px;
    }
  }
  @media screen and (max-width: 1000px) {
    .scnd {
      margin-left: 5px;
    }
  }

  @media screen and (max-width: 1000px) {
    .shop2 {
      margin-left: 5px;
    }
  }
 


  .frth{
    background-image: url('./Photos/Photos/f1.png');
    height: 400px;
    background-color: burlywood;
    margin-top: 20px;
    width:40rem;
    align-items: center;
    justify-content: center;
  }

  .txt1{
    font-size: 60px;
    text-align: center;
   

  }

  .txt2{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
  }

  .btn1{
    text-align: center;
    align-items: center ;
  }

  
  .frth2{
    height: 270px;
    margin-top: 20px;
    background-color: burlywood;
    text-align: center;
    justify-content: center;
    width: 12rem;
  
  }

  .forth{
    width: 100%;
    column-gap: 10px;
    justify-content: center;
  
    align-items: center;
  }


  .txt4{
    font-size: 30px;
  }
  .txt3{
    font-size: 40px;
  }

  .btn1{
    justify-content: center;
  }

  @media screen and (max-width: 1000px) {
    .txt1 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    .txt2 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    .txt3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    .txt4 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1000px) {
    .forth {
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1000px) {
    .par {
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 140px;
      margin-left: -31px;
    }
  }

  .fifth{
    margin-top: 20px;
    margin-left: 20px;
  }

  @media screen and (max-width: 1000px) {
    .fifth {
      margin-left: 5px;
    }
  }


  .par{
    margin-top: 100px;
    
  }

  .theme{
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .vint{
    text-align: center;
    margin-top: 10px;
  }

  @media screen and (max-width: 1000px) {
    .fifth {
        display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      margin-right: 30px;
    }
  }
  @media screen and (max-width: 1000px) {
    .theme {
        
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: small;
     
    }
  }

  .Home{
    text-decoration: none;
    color: black;
    margin-left: 5px;
  }
  .sign{
    margin-top: 30px;
    row-gap: 10px;
    column-gap: 10px;
    background-color: burlywood;
    width: 331px;
    height: 425px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
.signin{
  text-align: center;
  color:cornflowerblue ;
 
  font-family: 'Josefin Sans', cursive;
}
.signn {
  text-align: center;
  color:cornflowerblue ;
 
  font-family: 'Josefin Sans', cursive;
  align-items: center;
  justify-content: center;
}

.signForm {
  margin        : 0;
  padding       : 0;
  display       : flex;
  place-content : center;
  min-height    : 552px;
  box-sizing: border-box;
  background-color: white;
  
}
.signup{
  margin-top: 30px;
  row-gap: 10px;
  column-gap: 10px;
  background-color: burlywood;
  width: 331px;
  height: 717px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.newUserSignup{
  margin-top: 30px;
  row-gap: 10px;
  column-gap: 10px;
  background-color: burlywood;
  width: 331px;
  height: 670px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.signup1{
  margin-top: 30px;
  row-gap: 10px;
  column-gap: 10px;
  background-color: burlywood;
  width: 331px;
  height: 470px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.login{
  text-align: center;
  align-items: center;
  width: 100%;
  place-content: center
  ;
  display: flex;
}
.pay{
  overflow-x: hidden;
}
.login1{
  text-align: center;
  align-items: center;
  width: 150px;
  place-content: center
  ;
  height: 38px;
}

    

  .shop1{
    background-image: url('./Photos/Photos/Shop1.jpg');
    height: 600px;
    background-color: burlywood;
   
    width:40rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    
  }

  .shop2{
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }

  .shopbtn{
    display: flex!important;
    align-items: center;
    justify-content: center;
  }
  
  .warn{
    font-size: 30px;
    color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .crt{
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    height: 100vh;
  }

  .cart{
    height: 100vh;
    background-color: grey;
    width: 100%;
    flex-direction: column;
  }


  .btncart{
    margin-top: 20px;
  }

  .bn{
    justify-content: center !important
  }

  .none{
    width: 0;
    height: 0;
    display: none;
  }

 
  
  
.badge{
  color: white;
  background-color: brown !important;
}

.badge1{
  color: white;
  background-color: green !important;
}

.del{
  margin-left: 2px
}

.minus{
  margin-left: 2px
}

.pricetxt{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}


.shopimg{
  position: relative;
  text-align: center;
  color: white;
}

.textshop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.texthome{
 background-color: red;
position: absolute
}


.merry{
  margin-top: 30px;
   
  width: 100%;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1000px) {
  .merry {
    margin-left: -5px;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .thrd {
    margin-left: 15px;
    justify-content: center;
  }
}




@media screen and (max-width: 1000px) {
  .scndshop {
    margin-left: 5px;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .style {
    width: 165px;
    margin-left: -35px;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .theme {
    width: 174px;
    margin-left: -40px;
    justify-content: center;
  }
}

.style{
  text-align: center;
  justify-content: center;
 
 
}

@media screen and (max-width: 1000px) {
  .shop2 {
    
    justify-content: center;
  }
}


.error {
  color: red;
}


.product-table{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  height: 20vh;
}

.items-table{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.items-table1{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.products-btns{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  flex-basis: 50%;
  
}
.products-btns1{
  display: flex;
  align-items: baseline;
  
  flex-basis: 30%;
  
}





.SideBar{
  background: burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


.view{
  height: 100vh;
}

.cp{
  width: 100%;
}
.cp1{
  width: 100%;
  column-gap: 17px;
}

.card1{
  text-align: center;
  margin-left: 100px !important;
  padding: 0rem !important;
  font-family: 'Josefin Sans', cursive;
}
.card2{
  text-align: center;
  padding: 0rem !important;
  font-family: 'Josefin Sans', cursive;

}

.card-header{
  background-color: seagreen;
  
}

.conpan{
  text-align: center;
}